#game-mode {
    font-size: 1.5rem;
    color: #f7f7f7;
    padding-top: 1rem;
    font-weight: normal;
}

main {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    background-color: #3D4358;
    padding: 1.5rem;
    border-radius: 1rem;
}

.operation-container {
    display: flex;
    gap: 1rem;
}

.operation-container span {
    border: 1px solid rgba(255, 255, 255, .2);
    padding: .8rem;
    border-radius: .5rem;
}

input, button {
    padding: .5rem 1rem;
    width: 16rem;
    border-radius: .5rem;
}

input {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    color: #f7f7f7;
}

input::placeholder {
    color:rgba(255, 255, 255, .5);
}

button {
    width: 8rem;
    background-color: #927FBF;
    color: #f7f7f7;
    border: none;
    transition: 200ms;
    cursor: pointer;
}

button:hover {
    filter: brightness(.9);
}