.container {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

img {
    width: 50%;
    height: 50%;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

a#new-game {
    background-color: #927FBF;
    color: #f7f7f7;
    border-radius: .5rem;
    padding: 1rem;
    border: none;
    width: 50%;
    font-weight: bold;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none;
    text-align: center;
}

a#new-game:hover {
    filter: brightness(.9);
}

a#back-home {
    text-decoration: none;
    color: #C4BBF0;
    display: block;
}

a#back-home:hover {
    text-decoration: underline;
}